<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="~/admin/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin/css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin/css/bootstrap-social.css">
    <link rel="stylesheet" type="text/css" href="~/admin/css/bootstrap-tagsinput.css">
    <link rel="stylesheet" type="text/css" href="~/admin/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin/css/codemirror.css">
    <link rel="stylesheet" type="text/css" href="~/admin/css/components.css">
    <link rel="stylesheet" type="text/css" href="~/admin/css/duotone-dark.css">
    <link rel="stylesheet" type="text/css" href="~/admin/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin/css/style.css">



</head>
<body>
    <div id="page-wrap">

        <header id="header" class="header-v2">
            <div id="app">
                <div class="main-wrapper main-wrapper-1">
                    <div class="navbar-bg"></div>
                    <nav class="navbar navbar-expand-lg main-navbar">
                        <form class="form-inline mr-auto">
                            <ul class="navbar-nav mr-3">
                                <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
                                <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
                            </ul>
                            <div class="search-element">
                               
                                <div class="search-backdrop"></div>
                                <div class="search-result">
                                    <div class="search-header">
                                        Histories
                                    </div>
                                    <div class="search-item">
                                        <a href="#">How to hack NASA using CSS</a>
                                        <a href="#" class="search-close"><i class="fas fa-times"></i></a>
                                    </div>
                                    <div class="search-item">
                                        <a href="#">Kodinger.com</a>
                                        <a href="#" class="search-close"><i class="fas fa-times"></i></a>
                                    </div>
                                    <div class="search-item">
                                        <a href="#">#Stisla</a>
                                        <a href="#" class="search-close"><i class="fas fa-times"></i></a>
                                    </div>
                                    <div class="search-header">
                                        Result
                                    </div>
                                    <div class="search-item">
                                        <a href="#">
                                            <img class="mr-3 rounded" width="30" src="assets/img/products/product-3-50.png" alt="product">
                                            oPhone S9 Limited Edition
                                        </a>
                                    </div>
                                    <div class="search-item">
                                        <a href="#">
                                            <img class="mr-3 rounded" width="30" src="assets/img/products/product-2-50.png" alt="product">
                                            Drone X2 New Gen-7
                                        </a>
                                    </div>
                                    <div class="search-item">
                                        <a href="#">
                                            <img class="mr-3 rounded" width="30" src="assets/img/products/product-1-50.png" alt="product">
                                            Headphone Blitz
                                        </a>
                                    </div>
                                    <div class="search-header">
                                        Projects
                                    </div>
                                    <div class="search-item">
                                        <a href="#">
                                            <div class="search-icon bg-danger text-white mr-3">
                                                <i class="fas fa-code"></i>
                                            </div>
                                            Stisla Admin Template
                                        </a>
                                    </div>
                                    <div class="search-item">
                                        <a href="#">
                                            <div class="search-icon bg-primary text-white mr-3">
                                                <i class="fas fa-laptop"></i>
                                            </div>
                                            Create a new Homepage Design
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </nav>
                    <div class="main-sidebar sidebar-style-2">
                        <aside id="sidebar-wrapper">
                            <div class="sidebar-brand">
                                <a href="index.html">Arien Cave Suites</a>
                            </div>
                            <div class="sidebar-brand sidebar-brand-sm">
                                <a href="index.html">ACS</a>
                            </div>
                            <ul class="sidebar-menu">
                                <li class="menu-header">Rezervasyon</li>
                                <li class="dropdown">
                                    <a href="#" class="nav-link has-dropdown"><i class="fas fa-fire"></i><span>Rezervasyonlar</span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-link" href="index-0.html">Yaklaşan Rezervasyonlar</a></li>
                                        <li><a class="nav-link" href="index.html">Geçmiş Rezervasyonlar</a></li>
                                    </ul>
                                </li>
                               
                                
                                <li class="menu-header">Odalar</li>
                                <li><a class="nav-link" href="/Admin/RoomSet"><i class="fa-solid fa-gear"></i> <span>Oda Ayarları</span></a></li>
                                <li class="menu-header">Ayarlar</li>

                                <li class="dropdown">
                                    <a href="/Admin/ResetPassword" class="nav-link "><i class="fa-solid fa-gears"></i> <span>Şifre Değiştir</span></a>
                                    
                                </li>
                                

                            
                        </aside>
                    </div>
                </div>
            </div>



        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        
    </div>
    <script type="text/javascript" src="~/admin/js/custom.js"></script>
    <script type="text/javascript" src="~/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/admin/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/admin/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="~/admin/js/jquery.pwstrength.min.js"></script>
    <script type="text/javascript" src="~/admin/js/jquery.selectric.min.js"></script>
    <script type="text/javascript" src="~/admin/js/bootstrap-colorpicker.min.js"></script>
    <script type="text/javascript" src="~/admin/js/bootstrap-tagsinput.min.js"></script>
    <script type="text/javascript" src="~/admin/js/codemirror.js"></script>
    <script type="text/javascript" src="~/admin/js/features-setting-detail.js"></script>
    <script type="text/javascript" src="~/admin/js/javascript.js"></script>
    <script type="text/javascript" src="~/admin/js/moment.min.js"></script>
    <script type="text/javascript" src="~/admin/js/popper.js"></script>
    <script type="text/javascript" src="~/admin/js/scripts.js"></script>
    <script type="text/javascript" src="~/admin/js/select2.full.min.js"></script>
    <script type="text/javascript" src="~/admin/js/tooltip.js"></script>
    <script type="text/javascript" src="~/admin/js/cleave-phone.tr.js"></script>
    <script type="text/javascript" src="~/admin/js/cleave.min.js"></script>
    <script type="text/javascript" src="~/admin/js/forms-advanced-forms.js"></script>
    <script type="text/javascript" src="~/admin/js/stisla.js"></script>






    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
