@using EntityLayer.Entities
@{
    var Categories = ViewBag.Categories as List<RoomCategory>;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <!-- TITLE -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="~/images/favicon.png" />

    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Hind:400,300,500,600%7cMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- CSS LIBRARY -->
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/font-lotusicon.css">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/jquery/dist/css/owl-carousel.css">
    <link rel="stylesheet" type="text/css" href="~/lib/jquery/dist/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="~/lib/jquery/dist/css/magnicif-popup.css">
    <link rel="stylesheet" type="text/css" href="~/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/helper.css">

    <link rel="stylesheet" type="text/css" href="~/css/style.css">


</head>
<body>
    <div id="page-wrap">
        <div id="loadingDiv" style="display: none;">
            <div class="spinner"></div>
        </div>
      
        <header id="header" class="header-v2">

            <!-- HEADER TOP -->
            <div class="header_top">
                <div class="container">
                    <div class="header_left float-left">
                        <span><i class="lotus-icon-location"></i> Yukari Mevkii Zafer Sokak NO:36 Mustafapaşa Köyü/Ürgüp/Nevşehir</span>
                        <span><i class="lotus-icon-phone"></i> +90 384 353 53 30</span>
                    </div>

                </div>
            </div>
            <!-- END / HEADER TOP -->
            <!-- HEADER LOGO & MENU -->
            <div class="header_content" id="header_content">

                <div class="container">
                    <!-- HEADER LOGO -->
                    <div class="header_logo">
                        <a href="#"><img src="~/images/gallery/logoarien.jpg" alt=""></a>
                    </div>
                    <!-- END / HEADER LOGO -->
                    <!-- HEADER MENU -->
                    <nav class="header_menu">
                        <ul class="menu">
                            <li>
                                <a href="/Home/Index">Ana Sayfa <span></span></a>

                            </li>
                            <li><a href="/Home/About">Hakkımızda</a></li>

                            <li>
                                <a href="/Home/Room">Odalar <span class="fa fa-caret-down"></span></a>
                                <ul class="sub-menu">
                                    @*                                     <li><a href="/Home/RoomDetails">Room Detail</a></li>
 *@                                    <li><a href="/Home/DoubleArchRoom">Duble Yatak Kemer Odalar</a></li>
                                    <li><a href="/Home/StandartArchRoom">Standart Kemer Odalar</a></li>
                                    <li><a href="/Home/DeluxeRoom">Deluxe Odalar</a></li>
                                    <li><a href="/Home/KingSuitRoom">King Suit Odalar</a></li>
                                    <li><a href="/Home/CaveSuitRoom">Cave Suite Odalar</a></li>


                                </ul>
                            </li>
                            <li><a href="/Login/Index">Login</a></li>
                            <li><a href="/Login/Register">Register</a></li>

                            @* <li>
                                <a href="/Home/Activity">Aktiviteler <span class="fa fa-caret-down"></span></a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">Guest Book <span ></span></a>

                                    </li>

                                    <li>
                                        <a href="#">Event <span ></span></a>

                                    </li>
                                    <li>
                                        <a href="attractions.html">Attractions</a>
                                    </li>
                                    <li>
                                        <a href="#">Term Condition <span ></span></a>

                                    </li>
                                    <li>
                                        <a href="/Home/Activitys">Activiti <span ></span></a>

                                    </li>
                                    <li><a href="check-out.html">Check Out</a></li>
                                    <li><a href="shortcode.html">ShortCode</a></li>
                                    <li><a href="page-404.html">404 Page</a></li>
                                    <li><a href="comingsoon.html">Comming Soon</a></li>
                                </ul>
                            </li> *@


                            <li><a href="/Home/Contact">İletişim</a></li>
                        </ul>
                    </nav>
                    <!-- END / HEADER MENU -->
                    <!-- MENU BAR -->
                    <span class="menu-bars">
                        <span></span>
                    </span>
                    <!-- END / MENU BAR -->

                </div>
            </div>
            <!-- END / HEADER LOGO & MENU -->


        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer id="footer">

            <!-- FOOTER TOP -->
            <div class="footer_top">
                <div class="container">
                    <div class="row">


                        <!-- END / WIDGET MAILCHIMP -->
                        <!-- WIDGET SOCIAL -->
                        <div class="col-lg-3">
                            <div class="social">
                                <div class="social-content">
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- END / WIDGET SOCIAL -->

                    </div>
                </div>
            </div>
            <!-- END / FOOTER TOP -->
            <!-- FOOTER CENTER -->
            <div class="footer_center">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-12 col-lg-5">
                            <div class="widget widget_logo">
                                <div class="widget-logo">
                                    <div class="img">
                                        <a href="#"><img src="~/images/gallery/logoarien.jpg" alt=""></a>
                                    </div>
                                    <div class="text">
                                        <p><i class="lotus-icon-location"></i> Yukari Mevkii Zafer Sokak NO:36 Mustafapaşa Köyü/Ürgüp/Nevşehir</p>
                                        <p><i class="lotus-icon-phone"></i> +90 384 353 53 30</p>
                                        <p><i class="fa fa-envelope-o"></i> <a href="mailto:info@ariencavehotel.com">info@ariencavehotel.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Sayfalar</h4>
                                <ul>
                                    <li><a href="#">Galeri</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Bilgi</h4>
                                <ul>
                                    <li><a href="">Hakkımızda</a></li>
                                    <li><a href="">İletişim</a></li>
                                </ul>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
            <!-- END / FOOTER CENTER -->
            <!-- FOOTER BOTTOM -->
            <!-- END / FOOTER BOTTOM -->

        </footer>
    </div>
    <script type="text/javascript" src="~/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="~/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/js/owl.carousel.js"></script>
    <script type="text/javascript" src="~/js/jquery.appear.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.countTo.js"></script>
    <script type="text/javascript" src="~/js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="~/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/js/SmoothScroll.js"></script>
    <script type="text/javascript" src="~/js/scripts.js"></script>
    <script type="text/javascript" src="~/js/datepicker.js"></script>
    <script type="text/javascript" src="~/Jquery/Home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
