@{
    Layout = null;

}
<div class="form-group row align-items-center col-12">
    <label style="margin-left:-49px;" for="site-title" class="form-control-label col-sm-4 text-md-right">Oda Özelliği</label>
    <input style="margin-left:5px;" type="text" name="site_title" class="form-control col-4" id="site-title">
    <button style="margin-left:20px;" class="btn btn-primary col-4" id="save-btn">Ekle</button>
</div>