@{
    Layout = null;

}
<div class="container mt-5" id="featureContainer">
    <input type="text" id="featureName">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" onclick="insertFeatures()">Kaydet</button>
    <button type="button" class="btn btn-danger" onclick="closeModal()">Kapat</button>
</div>


<script>
    function SelectAll(){
        var checkboxes = document.querySelectorAll(".form-check-input:not(#selectAll)");
        checkboxes.forEach(function(checkbox) {
            checkbox.checked = document.getElementById("selectAll").checked;
        });
    }
</script>
