@{
    Layout = null;

}
<div class="form-group row align-items-center">
    <label class="form-control-label col-sm-3 text-md-right">Resim Seçin:</label>
    <div class="col-sm-8 col-md-8 d-flex align-items-center">
        <input type="file" name="imageFiles" class="custom-file-input" id="imageFiles" multiple>
        <button type="button" class="btn btn-primary" id="uploadBtn" onclick="insertRoomImages()">Yükle</button>
    </div>
</div>

<div id="previewContainer" class="mt-3"></div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" onclick="closeModal()">Kapat</button>
</div>