@{
    Layout = null;

}
<div class="form-group row align-items-center col-12">
    <label  for="site-title" class="form-control-label col-sm-4 text-md-right">Oda Özelliği</label>
    <textarea style="margin-left:5px;" type="text" name="site_title" class="form-control col-4" id="site-title"></textarea>
    <button style="margin-left:20px;" class="btn btn-primary col-2" id="save-btn">Ekle</button>
</div>