@{
    Layout = null;

}
<div class="container mt-5" id="featureContainer">
    <div class="card">
        
        <div class="card-body">
            <div class="input-group">
                <span class="input-group-text">Özellik Adı</span>
                <input type="text" id="featureName" class="form-control" placeholder="Özellik adını girin">
            </div>
        </div>
        <div class="card-footer text-end">
            <button type="button" class="btn btn-primary btn-sm" onclick="insertFeatures()">Kaydet</button>
            <button type="button" class="btn btn-danger btn-sm" onclick="closeModal()">Kapat</button>
        </div>
    </div>
</div>



<script>
    function SelectAll(){
        var checkboxes = document.querySelectorAll(".form-check-input:not(#selectAll)");
        checkboxes.forEach(function(checkbox) {
            checkbox.checked = document.getElementById("selectAll").checked;
        });
    }
</script>
