
@{
    Layout = null;
}

    <style>
        .image-container {
            position: relative;
            margin: 0 10px;
        }

        .checkbox-overlay {
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 2;
        }

        .image-container img {
            display: block;
            width: 100%;
            height: auto;
        }

        .d-flex {
            display: flex;
        }

        .justify-content-center {
            justify-content: center;
        }

        .gap-3 > * {
            margin: 0 10px;
        }

        .modal-footer {
            margin-top: 20px;
            text-align: center;
        }
    </style>

<div class="d-flex justify-content-center gap-3">
    <!-- 1. Resim -->
    <div class="image-container">
        <div class="checkbox-overlay">
            <input type="checkbox" class="image-checkbox">
        </div>
        <img src="https://iasbh.tmgrup.com.tr/13869e/650/344/0/0/789/415?u=https://isbh.tmgrup.com.tr/sbh/2024/10/16/ayi-ne-ile-beslenir-ayilar-ne-yer-neyle-beslenir-e1-1729061535612.jpg">
    </div>
    <!-- 2. Resim -->
    <div class="image-container">
        <div class="checkbox-overlay">
            <input type="checkbox" class="image-checkbox">
        </div>
        <img src="https://iasbh.tmgrup.com.tr/13869e/650/344/0/0/789/415?u=https://isbh.tmgrup.com.tr/sbh/2024/10/16/ayi-ne-ile-beslenir-ayilar-ne-yer-neyle-beslenir-e1-1729061535612.jpg">
    </div>
    <!-- 3. Resim -->
    <div class="image-container">
        <div class="checkbox-overlay">
            <input type="checkbox" class="image-checkbox">
        </div>
        <img src="https://iasbh.tmgrup.com.tr/13869e/650/344/0/0/789/415?u=https://isbh.tmgrup.com.tr/sbh/2024/10/16/ayi-ne-ile-beslenir-ayilar-ne-yer-neyle-beslenir-e1-1729061535612.jpg">
    </div>
    <!-- 4. Resim -->
    <div class="image-container">
        <div class="checkbox-overlay">
            <input type="checkbox" class="image-checkbox">
        </div>
        <img src="https://iasbh.tmgrup.com.tr/13869e/650/344/0/0/789/415?u=https://isbh.tmgrup.com.tr/sbh/2024/10/16/ayi-ne-ile-beslenir-ayilar-ne-yer-neyle-beslenir-e1-1729061535612.jpg">
    </div>
</div>

<div class="modal-footer">
    <button id="deselectButton" class="btn btn-secondary">Seçimleri Temizle</button>
    <button id="selectAllButton" class="btn btn-primary">Tümünü Seç</button>
    <button type="button" class="btn btn-danger" onclick="deleteFeatures()">Sil</button>
    <button type="button" class="btn btn-primary" onclick="updateFeatures()">Kapak Fotoğrafı Yap</button>
    <button type="button" class="btn btn-danger" onclick="closeModal()">Kapat</button>
</div>


