@{
    Layout = null;

}
<div class="container mt-5" id="featureContainer">

</div>
<div class="modal-footer">
    <button id="deselectButton" class="btn btn-secondary" onclick="DeSelectAll()">Seçimleri Temizle</button>
    <button id="selectAllButton" class="btn btn-primary" onclick="SelectAll()">Tümünü Seç</button>
    <button type="button" class="btn btn-danger" onclick="deleteFeatures()">Sil</button>
    <button type="button" class="btn btn-primary" onclick="updateFeatures()">Güncelle</button>
    <button type="button" class="btn btn-danger" onclick="closeModal()">Kapat</button>
</div>

