@{
    Layout = null;

}
<div class="card-body">
    <div class="input-group">
        <span class="input-group-text">Oda Fiyatı:</span>
        <input type="text" id="featureName" class="form-control" placeholder="Oda Fiyatını Giriniz girin">
    </div>
</div>
<div class="modal-footer">
    <div class="col-sm-6 offset-sm-3">
        <button style="    position: absolute;
    margin-left: 252px;
    margin-block: -16px;" class="btn btn-primary" onclick="insertRoom()" id="save-btn">
            Güncelle
        </button>
    </div>
    <button type="button" class="btn btn-danger" onclick="closeModal()">Kapat</button>
</div>