
@{
    Layout = null;
}
<style>
    .image-container {
        position: relative;
        display: inline-block;
    }

    .checkbox-overlay {
        position: absolute;
        top: 10px;
        left: 10px;
        display: none;
        background: rgba(0, 0, 0, 0.5);
        padding: 5px;
        border-radius: 5px;
    }

    .image-container:hover .checkbox-overlay {
        display: block;
    }

    .image-container img {
        width: 200px;
        height: 150px;
        display: block;
        border-radius: 5px;
    }
</style>

<div class="d-flex justify-content-center gap-3">
    <!-- 1. Resim -->
    <div class="image-container">
        <div class="checkbox-overlay">
            <input type="checkbox">
        </div>
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.minikseyler.com%2Fjellycat-bartholomew-ayicik-orta-boy&psig=AOvVaw1MeRFOUhppLqiZjXYzuZvn&ust=1740409739394000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCICfwdSJ2osDFQAAAAAdAAAAABAK" >
    </div>

    <!-- 2. Resim -->
    <div class="image-container">
        <div class="checkbox-overlay">
            <input type="checkbox">
        </div>
        <img src="https://via.placeholder.com/200x150" >
    </div>
</div>


<div class="modal-footer">
    <button id="deselectButton" class="btn btn-secondary" onclick="DeSelectAll()">Seçimleri Temizle</button>
    <button id="selectAllButton" class="btn btn-primary" onclick="SelectAll()">Tümünü Seç</button>
    <button type="button" class="btn btn-danger" onclick="deleteFeatures()">Sil</button>
    <button type="button" class="btn btn-primary" onclick="updateFeatures()">Güncelle</button>
    <button type="button" class="btn btn-danger" onclick="closeModal()">Kapat</button>
</div>