@{

    Layout = "_AdminLayout";
}
<div class="main-content">



    <div class="section-body">
        <div class="row justify-content-center">
            <div class="">
                <div class="card">
                    <div class="card-header">
                        <h4>Ayarlar</h4>
                    </div>
                    <div class="card-body">
                        <div class="tab-container" style="overflow-x: auto;">
                            <ul class="nav nav-tabs" id="myTab" role="tablist" style="display: flex; justify-content: space-between; padding: 0;">
                                <li class="nav-item" style="flex: 1;">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Şifre Değiştir</a>
                                </li>
                                <li class="nav-item" style="flex: 1;">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Hakkımızda Düzenle</a>
                                </li>
                                <li class="nav-item" style="flex: 1;">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">İletişim Düzenle</a>
                                </li>
                                <li class="nav-item" style="flex: 1;">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="contact" aria-selected="false">Popüler Odaları Düzenle</a>
                                </li>
                                <li class="nav-item" style="flex: 1;">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#social" role="tab" aria-controls="contact" aria-selected="false">Sosyal Medya Ayarları</a>
                                </li>
                            </ul>

                        </div>


                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <section class="section">
                                    <div class="container mt-5">



                                        <div class="login-brand">
                                        </div>

                                        <div class="card card-primary">
                                            <div class="card-header"><h4>Reset Password</h4></div>

                                            <div class="card-body">
                                                <form id="ChangePasswordForm">
                                                    <div class="form-group">
                                                        <label for="email">Email</label>
                                                        <input id="Email" type="email" class="form-control" name="Email" tabindex="1" required autofocus>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="password-confirm">Eski Şifre</label>
                                                        <input id="OldPassword" type="password" class="form-control" name="OldPassword" tabindex="2" required>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="password-confirm">Yeni Şifre</label>
                                                        <input id="NewPassword" type="password" class="form-control" name="NewPassword" tabindex="2" required>
                                                    </div>

                                                    <div class="form-group">
                                                        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="ChangePassword()" tabindex="4">
                                                            Şifreyi Değiştir
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>



                                    </div>
                                </section>
                            </div>

                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="col-md-12">
                                    <div class="card-header d-flex flex-column">
                                        <h4 class="mb-2">Hakkımızda:</h4>
                                        <textarea style="width: 100% ; height: 250px; border-radius: 0px; resize: none;"
                                                  name="site_title" class="form-control" id="site-title"></textarea>
                                        <button style="border-radius: 0px; margin-top: 10px; width: 100%;"
                                                class="btn btn-primary" id="save-btn">
                                            Güncelle
                                        </button>
                                    </div>



                                </div>
                                <div class="col-md-12">
                                    <div class="card-header d-flex flex-column">
                                        <h4 class="mb-2">Hakkımızda (İkinci):</h4>
                                        <textarea style="width: 100% ; height: 250px; border-radius: 0px; resize: none;"
                                                  name="second_site_title" class="form-control" id="second-site-title"></textarea>
                                        <button style="border-radius: 0px; margin-top: 10px; width: 100%;"
                                                class="btn btn-primary" id="second-save-btn">
                                            Güncelle
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile-tab2">
                                <div class="col-md-12">
                                    <div class="card-header d-flex flex-column">
                                        <h4 class="mb-2">Hakkımızda (İkinci):</h4>
                                        <textarea style="width: 100% ; height: 250px; border-radius: 0px; resize: none;"
                                                  name="second_site_title" class="form-control" id="second-site-title"></textarea>
                                        <button style="border-radius: 0px; margin-top: 10px; width: 100%;"
                                                class="btn btn-primary" id="second-save-btn">
                                            Güncelle
                                        </button>
                                    </div>
                                </div>
                            </div>

                            
                            

                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="col-md-12">

                                    <div class="form-group col-12">
                                        <label for="site-phone" class="font-weight-bold">Telefon:</label>
                                        <input type="text" name="site_phone" class="form-control" id="site-phone" style="border-radius:0px;">
                                    </div>

                                    <div class="form-group col-12">
                                        <label for="site-address" class="font-weight-bold">Adres:</label>
                                        <textarea name="site_address" class="form-control" id="site-address" style="border-radius:0px; height: 150px;"></textarea>
                                    </div>

                                    <div class="form-group col-12">
                                        <button class="btn btn-primary w-100" id="save-btn" style="border-radius:0px;">Güncelle</button>
                                    </div>

                                </div>
                            </div>



                            <div class="tab-pane fade" id="popular" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="col-md-12">




                                    <div class="form-group row align-items-center">

                                        <div class="card-header ">
                                            <h4 style="padding-left:30px;">Oda Seç:</h4>
                                            <div class="col-sm-6 col-md-2">
                                                <select style="border-radius:0px; margin-left:23px;" name="site_title" class="form-control" id="site-title">
                                                    <option>Option 1</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                </select>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="form-group row align-items-center">

                                        <div class="card-header ">
                                            <h4 style="padding-left:30px;">Oda Seç:</h4>
                                            <div class="col-sm-6 col-md-2">
                                                <select style="border-radius:0px; margin-left:23px;" name="site_title" class="form-control" id="site-title">
                                                    <option>Option 1</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                </select>
                                            </div>

                                        </div>

                                    </div>


                                    <div class="form-group row align-items-center">

                                        <div class="card-header ">
                                            <h4 style="padding-left:30px;">Oda Seç:</h4>
                                            <div class="col-sm-6 col-md-2">
                                                <select style="border-radius:0px; margin-left:23px;" name="site_title" class="form-control" id="site-title">
                                                    <option>Option 1</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                </select>
                                            </div>

                                        </div>







                                    </div>
                                    <div class="form-group row align-items-center">

                                        <div class="card-header ">
                                            <h4 style="padding-left:30px;">Oda Seç:</h4>
                                            <div class="col-sm-6 col-md-2">
                                                <select style="border-radius:0px; margin-left:23px;" name="site_title" class="form-control" id="site-title">
                                                    <option>Option 1</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                </select>
                                            </div>
                                            <button style=" margin-left:30px;  border-radius:0px; max-width:min-content;" class="btn btn-primary col-2 text-center" id="save-btn">Değişiklikleri Kaydet</button>

                                        </div>







                                    </div>

                                </div>
                            </div>

                            <div class="tab-pane fade" id="social" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="col-md-12">

                                    <div class="form-group col-12">
                                        <label for="instagram-link" class="font-weight-bold">Instagram Linki:</label>
                                        <input type="text" name="instagram_link" class="form-control" id="instagram-link" style="border-radius:0px;">
                                    </div>

                                    <div class="form-group col-12">
                                        <label for="facebook-link" class="font-weight-bold">Facebook Linki:</label>
                                        <input type="text" name="facebook_link" class="form-control" id="facebook-link" style="border-radius:0px;">
                                    </div>

                                    <div class="form-group col-12">
                                        <button class="btn btn-primary w-100" id="save-btn" style="border-radius:0px;">Güncelle</button>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

