@using EntityLayer.Entities
@using EntityLayer.ViewModel
@{
    Layout = "_AdminLayout";
}
@model SettingsViewModel
<div class="main-content">



    <div class="section-body">
        <div class="">
            <div class="">
                <div class="card">
                    <div class="card-header">
                        <h4>Ayarlar</h4>
                    </div>
                    <div class="card-body">
                        <div class="tab-container" style="overflow-x: auto;">
                            <ul class="nav nav-tabs" id="myTab" role="tablist" style="display: flex; justify-content: space-between; padding: 0; flex-wrap: nowrap;">
                                <li class="nav-item" style="flex: 1;">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Şifre Değiştir</a>
                                </li>
                                <li class="nav-item" style="flex: 1;">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Hakkımızda Düzenle</a>
                                </li>
                                <li class="nav-item" style="flex: 1;">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">İletişim Düzenle</a>
                                </li>

                                <li class="nav-item" style="flex: 1;">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#social" role="tab" aria-controls="contact" aria-selected="false">Sosyal Medya Ayarları</a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <section class="section">
                                    <div class="login-brand"></div>
                                    <div class="card card-primary">
                                        <div class="card-header">
                                            <h4>Şifre Değiştir</h4>
                                        </div>
                                        <div class="card-body">
                                            <form id="ChangePasswordForm">
                                                <div class="form-group">
                                                    <label for="email">Email</label>
                                                    <input id="Email" type="email" class="form-control" name="Email" tabindex="1" required autofocus>
                                                </div>
                                                <div class="form-group">
                                                    <label for="password-confirm">Eski Şifre</label>
                                                    <input id="OldPassword" type="password" class="form-control" name="OldPassword" tabindex="2" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="password-confirm">Yeni Şifre</label>
                                                    <input id="NewPassword" type="password" class="form-control" name="NewPassword" tabindex="2" required>
                                                </div>
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-primary btn-sm" onclick="ChangePassword()" tabindex="4" style="width: 50%; border-radius: 0px; display: block; margin: 0 auto;">
                                                        Şifreyi Değiştir
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </section>
                            </div>

                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <form id="AboutForm">
                                    <div class="col-md-12">
                                        <div class="card-header d-flex flex-column">
                                            <h4 class="mb-2">Hakkımızda Başlık:</h4>
                                            <textarea style="width: 100% ; height: 250px; border-radius: 0px; resize: none;" name="AboutUsHeader" class="form-control" id="AboutUsHeader">@Model?.AboutUs?.AboutUsHeader</textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="card-header d-flex flex-column">
                                            <h4 class="mb-2">Hakkımızda Yazısı:</h4>
                                            <textarea style="width: 100% ; height: 250px; border-radius: 0px; resize: none;" name="AboutUsText" class="form-control" id="AboutUsText">@Model.AboutUs.AboutUsText</textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="card-header d-flex flex-column">
                                            <h4 style="margin-left:-380px;" class="mb-2">Hakkımızda Başlık (İkinci):</h4>
                                            <textarea style="width: 100% ; height: 250px; border-radius: 0px; resize: none;" name="AboutUsHeader2" class="form-control" id="AboutUsHeader2">@Model.AboutUs.AboutUsHeader2</textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="card-header d-flex flex-column">
                                            <h4 style="margin-left:-380px;" class="mb-2">Hakkımızda Yazısı (İkinci):</h4>
                                            <textarea style="width: 100% ; height: 250px; border-radius: 0px; resize: none;" name="AboutUsText2" class="form-control" id="AboutUsText2">@Model.AboutUs.AboutUsText2</textarea>
                                            <div class="form-group col-12 text-center">
                                                <button class="btn btn-primary btn-sm" id="save-btn" style="border-radius: 0px; width: 50%;" type="button" onclick="updateAboutSettings()">Güncelle</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="col-md-12">
                                    <form id="ContactInfoForm">
                                        <div class="form-group col-12">
                                            <label for="site-phone" class="font-weight-bold">Email:</label>
                                            <input type="text" name="Email" class="form-control" id="Email" style="border-radius:0px;" value="@Model?.ContactInformations?.Email">
                                        </div>
                                        <div class="form-group col-12">
                                            <label for="site-phone" class="font-weight-bold">Telefon:</label>
                                            <input type="text" name="Phone" class="form-control" id="Phone" style="border-radius:0px;" value="@Model?.ContactInformations?.Phone">
                                        </div>

                                        <div class="form-group col-12">
                                            <label for="site-address" class="font-weight-bold">Adres:</label>
                                            <textarea name="Address" class="form-control" id="Address" style="border-radius:0px; height: 150px;">@Model?.ContactInformations?.Address</textarea>
                                        </div>

                                        <div class="form-group col-12 text-center">
                                            <button class="btn btn-primary btn-sm" id="save-btn" type="button" style="border-radius:0px; width: 50%;" onclick="updateContactSettings()">Güncelle</button>
                                        </div>
                                    </form>
                                </div>

                            </div>


                            <div class="tab-pane fade" id="social" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="col-md-12">
                                    <form id="socialMediaLinksForms">
                                        <div class="form-group col-12">
                                            <label for="instagram-link" class="font-weight-bold">Instagram Linki:</label>
                                            <input type="text" name="InstagramLink" class="form-control" id="InstagramLink" style="border-radius:0px;" value="@Model?.SocialMediaLinks?.InstagramLink">
                                        </div>

                                        <div class="form-group col-12">
                                            <label for="facebook-link" class="font-weight-bold">Facebook Linki:</label>
                                            <input type="text" name="FacebookLink" class="form-control" id="FacebookLink" style="border-radius:0px;" value="@Model?.SocialMediaLinks?.FacebookLink">
                                        </div>
                                    </form>
                                    <div class="form-group col-12 text-center">
                                        <button class="btn btn-primary btn-sm" id="save-btn" type="button" onclick="updateSocialMediaLinks()" style="border-radius:0px; width: 50%;">Güncelle</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

