@using EntityLayer.DTO
@model List<RoomDTO>

@{
    Layout = "_AdminLayout";
    var firstRoom = Model.FirstOrDefault();
}


<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div id="output-status"></div>
            <div class="row">
                <div class="col-md-12">

                    <div class="card" id="settings-card">

                        <div class="card-body">


                            <div class="form-group row align-items-center">

                                <div class="card-header ">
                                    <h4 style="padding-left:30px;">Oda Seç:</h4>
                                    <div class="col-sm-6 col-md-2">
                                        <select style="margin-left:23px;" name="site_title" class="form-control" id="roomNumber" onchange="GetRoomDetail('General')">
                                            @foreach (var room in Model)
                                            {
                                                <option value="@room.Id">@room.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <button onclick="openRoomModal()" style="margin-left:750px;" class="btn btn-primary" id="save-btn">Oda Ekle</button>

                                </div>

                            </div>



                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <h6 class="mt-3 ms-3">Oda Fiyatı:</h6>
                                                <div class="d-flex justify-content-between ms-3">
                                                    <ul class="list-group ms-3>
                                                        <li class="list-group-item">@firstRoom?.Price</li>
                                                    </ul>
                                                    <button class="btn btn-primary ms-3" onclick="openEditModal()">Düzenle</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row d-flex align-items-md-center">
                                            <div class="col-md-10">
                                                <h6 class="mt-3 ms-3">Oda Özellikleri:</h6>
                                                <ul class="list-group ms-3" id="featureWrapper">
                                                    @foreach (var feature in firstRoom?.RoomFeatures)
                                                    {
                                                        <li class="list-group-item">@feature.Features</li>
                                                    }
                                                </ul>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="d-flex justify-content-between ms-3">
                                                    <button class="btn btn-primary ms-3" onclick="openEditModal()">Düzenle</button>
                                                </div>
                                            </div> 
                                            <div class="col-md-1">
                                                <div class="d-flex justify-content-between ms-3">
                                                    <button class="btn btn-primary ms-3" onclick="openAddFeatureModal()">Ekle</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group row align-items-center">
                                <div class="card-header">
                                    <h4 style="margin-left:40px;">Oda Resimleri:</h4>
                                    <button class="btn btn-primary" onclick="openPictureModal()" style="margin-left:12px;">Resim Ekle</button>
                                </div>

                                <div class="container">
                                    <div class="row" id="imageContainer">
                                        <div class="col-md-12 image-box" id="imageSubContainer" style="display: flex; flex-wrap: wrap; gap: 10px;">
                                            @foreach (var image in firstRoom?.RoomImages)
                                            {
                                                <div class="image-wrapper" style="flex: 1 1 20%; max-width: 20%; box-sizing: border-box;">
                                                    <img src="data:image/jpeg;base64,@image.FileData" class="img-fluid" id="roomImage">
                                                    <button class="btn btn-danger delete-btn" onclick="deleteImage(@image.ImageId)">Sil</button>
                                                </div>
                                            }
                                        </div>

                                    </div>

                                </div>
                            </div>



                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
<script>
    document.getElementById("site-logo").addEventListener("change", function () {
        var fileLabel = document.getElementById("file-label");
        var files = this.files;
        if (files.length > 0) {
            var fileNames = Array.from(files).map(file => file.name).join(", ");
            fileLabel.innerText = fileNames;
        } else {
            fileLabel.innerText = "Choose Files";
        }
    });
    $(document).ready(function () {



        $(".delete-btn").click(function () {
            var imageBox = $(this).closest('.image-box');
            imageBox.fadeOut(300, function () {
                imageBox.remove();
            });
        });
    });


</script>