@{
    Layout = "_AdminLayout";
}
<div class="main-content">
    <section class="section">


        <div class="section-body">


            <div id="output-status"></div>
            <div class="row">

                <div class="col-md-12">

                    <div class="card" id="settings-card">

                        <div class="card-body">


                            <div class="form-group row align-items-center">

                                <div class="card-header ">
                                    <h4 style="padding-left:30px;">Oda Seç:</h4>
                                    <div class="col-sm-6 col-md-2">
                                        <select style="margin-left:23px;" name="site_title" class="form-control" id="site-title">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>
                                    </div>
                                    <button onclick="openRoomModal()" style="margin-left:750px;" class="btn btn-primary" id="save-btn">Oda Ekle</button>

                                </div>
                                
                            </div>



                            <div class="form-group row align-items-center col-6">
                                <div class="card-header ">
                                    <h4 style="padding-left:25px;">Oda Fiyatı:</h4>
                                    <input style="margin-left:25px; margin-right:40px;" type="text" name="site_title" class="form-control col-2" id="site-title">
                                    <button class="btn btn-primary col-3" id="save-btn">Fiyatı Güncelle</button>

                                </div>


                            </div>
                            <div class="form-group row align-items-center col-12">
                                <div class="card-header ">
                                    <h4 style="padding-left:25px;">Oda Özelliği Ekle:</h4>
                                    <button class="btn btn-primary" onclick="openEditModal()" style="margin-left:26px;">Özellik Ekle</button>

                                </div>
                                <div class="modal fade" id="myModal" role="dialog" style="display:none">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header" style="background-color: #6777ef; cursor: move;">
                                                <h5 id="modalTitle" style="color: white; margin: 0; flex: 1;"></h5>
                                            </div>
                                            <div class="modal-body" id="Body"></div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" onclick="closeModal()">Kapat</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="form-group row align-items-center">
                                <div class="card-header">
                                    <h4 style="margin-left:40px;">Oda Resimleri:</h4>
                                    <button class="btn btn-primary" onclick="openPictureModal()" style="margin-left:12px;">Resim Ekle</button>
                                </div>

                                <div class="container">
                                    <div class="row" id="imageContainer">
                                        <!-- İlk 4 resim -->
                                        <div class="col-sm-4 col-md-3 col-lg-2 mb-4 image-box">
                                            <div class="image-wrapper">
                                                <img src="~/images/301yeni/301-1.jpg" class="img-fluid">
                                                <button class="btn btn-danger delete-btn" onclick="deleteImage(this)">Sil</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-3 col-lg-2 mb-4 image-box">
                                            <div class="image-wrapper">
                                                <img src="~/images/301yeni/301-1.jpg" class="img-fluid">
                                                <button class="btn btn-danger delete-btn" onclick="deleteImage(this)">Sil</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-3 col-lg-2 mb-4 image-box">
                                            <div class="image-wrapper">
                                                <img src="~/images/301yeni/301-1.jpg" class="img-fluid">
                                                <button class="btn btn-danger delete-btn" onclick="deleteImage(this)">Sil</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-3 col-lg-2 mb-4 image-box">
                                            <div class="image-wrapper">
                                                <img src="~/images/301yeni/301-1.jpg" class="img-fluid">
                                                <button class="btn btn-danger delete-btn" onclick="deleteImage(this)">Sil</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-3 col-lg-2 mb-4 image-box hidden">
                                            <div class="image-wrapper">
                                                <img src="~/images/301yeni/301-1.jpg" class="img-fluid">
                                                <button class="btn btn-danger delete-btn" onclick="deleteImage(this)">Sil</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-3 col-lg-2 mb-4 image-box hidden">
                                            <div class="image-wrapper">
                                                <img src="~/images/301yeni/301-1.jpg" class="img-fluid">
                                                <button class="btn btn-danger delete-btn" onclick="deleteImage(this)">Sil</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-3 col-lg-2 mb-4 image-box hidden">
                                            <div class="image-wrapper">
                                                <img src="~/images/301yeni/301-1.jpg" class="img-fluid">
                                                <button class="btn btn-danger delete-btn" onclick="deleteImage(this)">Sil</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-3 col-lg-2 mb-4 image-box hidden">
                                            <div class="image-wrapper">
                                                <img src="~/images/301yeni/301-1.jpg" class="img-fluid">
                                                <button class="btn btn-danger delete-btn" onclick="deleteImage(this)">Sil</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>



                        </div>
                       
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
<script>
    document.getElementById("site-logo").addEventListener("change", function () {
        var fileLabel = document.getElementById("file-label");
        var files = this.files;
        if (files.length > 0) {
            var fileNames = Array.from(files).map(file => file.name).join(", ");
            fileLabel.innerText = fileNames;
        } else {
            fileLabel.innerText = "Choose Files";
        }
    });
    $(document).ready(function () {
      

 
        $(".delete-btn").click(function () {
            var imageBox = $(this).closest('.image-box');
            imageBox.fadeOut(300, function () {
                imageBox.remove(); 
            });
        });
    });


</script>