@{
    Layout = "_AdminLayout";
}

<div class="main-content">
    <section class="section">


        <div class="section-body">


            <div id="output-status"></div>
            <div class="row">

                <div class="col-md-12">

                    <div class="card" id="settings-card">




                        <div class="form-group row align-items-center col-12">
                            <div class="card-header ">
                                <h4 style="padding-left:25px;">Telefon:</h4>
                                <input style="margin-left:25px; margin-right:40px;" type="text" name="site_title" class="form-control col-4" id="site-title">

                            </div>


                        </div>

                        <div class="form-group row align-items-center col-12">
                            <div class="card-header ">
                                <h4 style="padding-left:25px;">Adres:</h4>
                                <textarea style="margin-left:25px; margin-right:40px;" type="text" name="site_title" class="form-control col-8" id="site-title"></textarea>
                                <button class="btn btn-primary col-2" id="save-btn">Güncelle</button>

                            </div>


                        </div>


                    </div>

                </div>

            </div>
        </div>
    </section>
</div>


