@using EntityLayer.Entities

@{
    Layout = "_Layout";
}
@model  AboutUs

<section style="background-color:beige;" class="section-sub-banner bg-9">
    <div class="awe-overlay"></div>
    <div class="sub-banner">
        <div class="container">
            <div class="text text-center">
                <h2>Hakkımızda</h2>
                <p>Arien Cave Suites</p>
            </div>
        </div>

    </div>

</section>

<section class="section-about">
    <div class="container">

        <div class="about">

            <!-- ITEM -->
            <div class="about-item">

                <div class="img owl-single">
                    <img src="~/images/ABOUT1.jpg" alt="">
                    <img src="~/images/ABOUT2.jpg" alt="">
                </div>

                <div class="text">
                    <h2 class="heading">@Model.AboutUsHeader</h2>
                    <div class="desc">
                        <p>
                            @Model.AboutUsText
                        </p>
                    </div>
                </div>

            </div>
            <!-- END / ITEM -->
            <!-- ITEM -->
            <div class="about-item about-right">

                <div class="img">
                    <img src="~/images/ABOUT3.jpg" alt="">
                </div>

                <div class="text">
                    <h2 class="heading">
                        @Model.AboutUsHeader2

                    </h2>
                    <div class="desc">
                        <p>
                            @Model.AboutUsText2
                        </p>
                    </div>
                </div>

            </div>
            <!-- END / ITEM -->

        </div>

    </div>
</section>
    <!-- END / ABOUT -->
