@using EntityLayer.Entities

@{
    ViewData["Title"] = "Home Page";
}
@model List<Room>

<section class="section-slider">
    <h1 class="element-invisible">Slider</h1>
    <div id="slider-revolution">
        <ul>
            <li data-transition="fade">
                <img src="~/images/deneme.jpg" data-bgposition="left center" data-duration="14000" data-bgpositionend="right center" alt="">

                <div class="tp-caption sft fadeout slider-caption-sub slider-caption-1" data-x="center" data-y="100" data-speed="700" data-start="1500" data-easing="easeOutBack">
                    <img src="~/images/slider/hom1-slide1.png" alt="icons">
                </div>

                <div class="tp-caption sft fadeout slider-caption-sub slider-caption-1" data-x="center" data-y="240" data-speed="700" data-start="1500" data-easing="easeOutBack">
                    ARİEN CAVE SUİTES'E
                </div>

                <div class="tp-caption sfb fadeout slider-caption slider-caption-sub-1" data-x="center" data-y="280" data-speed="700" data-easing="easeOutBack" data-start="2000">HOŞ GELDİNİZ</div>

            </li>

            <li data-transition="fade">
                <img src="~/images/deneme.jpg" data-bgposition="left center" data-duration="14000" data-bgpositionend="right center" alt="">

                <div class="tp-caption sft fadeout" data-x="center" data-y="195" data-speed="700" data-start="1300" data-easing="easeOutBack">
                    <img src="" alt="">
                </div>

                <div class="tp-caption sft fadeout slider-caption-sub slider-caption-sub-3" data-x="center" data-y="220" data-speed="700" data-start="1500" data-easing="easeOutBack">
                    SİZİN GİBİ
                </div>

                <div class="tp-caption sfb fadeout slider-caption slider-caption-3" data-x="center" data-y="260" data-speed="700" data-easing="easeOutBack" data-start="2000">
                    EŞSİZ BİR OTEL
                </div>


                <div class="tp-caption sfb fadeout slider-caption-sub slider-caption-sub-3" data-x="center" data-y="395" data-easing="easeOutBack" data-speed="700" data-start="2400"><img src="" alt=""></div>
            </li>

        </ul>
    </div>

</section>
<!-- END / BANNER SLIDER -->
<!-- CHECK AVAILABILITY -->
@* <section class="section-check-availability">
    <div class="container">
        <div class="check-availability">
            <div class="row v-align">
                <div class="col-lg-3">
                    <h2>ODALAR</h2>
                </div>
                <div class="col-lg-9">
                    <div class="availability-form">
                        <input type="text" class="awe-calendar from" placeholder="Giriş Tarihi">
                        <input type="text" class="awe-calendar to" placeholder="Çıkış Tarihi">


                        <div class="vailability-submit">
                            <button class="awe-btn awe-btn-13">ODAYI BUL</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> *@
<!-- END / CHECK AVAILABILITY -->
<!-- ACCOMMODATIONS -->
<section class="section-accommo_1 bg-white">
    <div class="container">

        <div class="accomd-modations_1">

            <h2 class="heading">KONAKLAMA</h2>

            <div class="accomd-modations-content_1">

                <div class="accomd-modations-slide_1">

                    <!-- ITEM -->
                    @foreach (var room in Model)
                    {
                        
                        var coverImage = room.RoomImages.Where(x => x.isCoverImage == true).FirstOrDefault()?.FileData;
                                    var base64Image = coverImage != null ? Convert.ToBase64String(coverImage) : null;
                        <div class="accomd-modations-room_1">
                            <div class="img">
                                <a href="#"><img src="data:image/png;base64,@base64Image" alt=""></a>
                            </div>

                            <div class="text">
                                <p style="font-size: 32px; padding-left:10px; font-weight: bold;">@room.Name</p>
                                <p class="desc">@room.Description</p>
                                <div class="wrap-price">
                                    <p class="price">
                                        <span class="amout">@room.Price</span>
                                    </p>
                                    <a href="/Home/Detail?Id=@room.Id" class="awe-btn awe-btn-default">DETAYLARI GÖRÜNTÜLE</a>
                                </div>
                            </div>

                        </div>
                    }
                </div>

            </div>

        </div>

    </div>
</section>
<!-- ACCOMMODATIONS -->
<!-- ABOUT -->
<section class="section-home-about bg-white">
    <div class="container">
        <div class="home-about">
            <div class="row">
                <div class="col-md-6">
                    <div class="img">
                        <a href="#"><img src="~/images/HAKKIMIZDA1.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text">
                        <h2 class="heading">HAKKIMIZDA</h2>
                        <p>Arien Cave Suites, Kapadokya'nın büyüleyici doğası ve tarihi dokusunu misafirlerine unutulmaz bir konaklama deneyimiyle birleştirmek amacıyla kurulmuş, özgün ve lüks bir yaşam alanıdır. Peri bacalarının içine oyulmuş bu eşsiz suitler, bölgenin otantik atmosferini korurken modern konforun tüm imkanlarını sunar. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END / ABOUT -->
<!-- OUR BEST -->
<section class="section-our-best bg-white">
    <div class="container">

        <div class="our-best">
            <div class="row">

                <div class="col-md-6 col-md-push-6">
                    <div class="img">
                        <img src="~/images/HAKKIMIZDA2.jpg" alt="">
                    </div>
                </div>

                <div class="col-md-6 col-md-pull-6 ">
                    <div class="text">
                        <h2 class="heading">İmkanlarımız</h2>
                        <p>Özel jakuzi, ücretsiz Wi-Fi, restoran, teras, kahvaltı.</p>
                        <ul>
                            <li><img src="~/images/home/ourbest/icon-3.png" alt="icon">18 Odalı Hizmet</li>
                            <li><img src="~/images/home/ourbest/icon-2.png" alt="icon">Televizyon</li>
                            <li><img src="~/images/home/ourbest/icon-4.png" alt="icon">Jakuzi Keyfi</li>
                            <li><img src="~/images/home/ourbest/icon-5.png" alt="icon">Kaliteli Hizmet </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- END / OUR BEST -->
